[Unit]
Description=Elasticsearch-{{ es_version }}
After=network.target

[Service]
RuntimeDirectory=elasticsearch
Environment=ES_HOME={{ es_path }}
Environment=ES_PATH_CONF={{ es_path }}/config
Environment=PID_DIR={{ es_path }}/pid
EnvironmentFile=-/etc/sysconfig/elasticsearch

WorkingDirectory={{ es_path }}

User={{ es_system_user }}
Group={{ es_system_group }}

ExecStart={{ es_path }}/bin/elasticsearch -p ${PID_DIR}/elasticsearch.pid --quiet

ExecStartPre=/usr/bin/chown -R {{ es_system_user }}:{{ es_system_group }} {{ es_path }}
ExecStartPre=/usr/bin/chmod 0755 /opt/elasticsearch/pid

# StandardOutput is configured to redirect to journalctl since
# some error messages may be logged in standard output before
# elasticsearch logging system is initialized. Elasticsearch
# stores its logs in /var/log/elasticsearch and does not use
# journalctl by default. If you also want to enable journalctl
# logging, you can simply remove the "quiet" option from ExecStart.
StandardOutput=journal
StandardError=inherit

# Specifies the maximum file descriptor number that can be opened by this process
LimitNOFILE=65536

# Specifies the maximum number of processes
LimitNPROC=4096

# Specifies the maximum size of virtual memory
LimitAS=infinity

# Specifies the maximum file size
LimitFSIZE=infinity

# Disable timeout logic and wait until process is stopped
TimeoutStopSec=0

# SIGTERM signal is used to stop the Java process
KillSignal=SIGTERM

# Send the signal only to the JVM rather than its control group
KillMode=process

# Java process is never killed
SendSIGKILL=no

# When a JVM receives a SIGTERM signal it exits with code 143
SuccessExitStatus=143

[Install]
WantedBy=multi-user.target
