[Unit]
Description=MongoDB Database Server {{ mongodb_version }}
After=network.target

[Service]
Type=forking
User=mongod
Group=mongod
PIDFile={{ mongodb_pid }}
ExecStart={{ mongodb_path }}/bin/mongod --config {{ mongodb_path }}/mongod.conf --dbpath {{ mongodb_path }}/data
ExecStartPre=/usr/bin/chown -R {{ mongodb_system_user }}:{{ mongodb_system_group }} {{ mongodb_path }}
ExecStartPre=/usr/bin/chmod 0755 {{ mongodb_path }}/pid
PermissionsStartOnly=true
PrivateTmp=true
LimitNOFILE=64000
TimeoutStartSec=180

# (file size)
LimitFSIZE=infinity
# (cpu time)
LimitCPU=infinity
# (virtual memory size)
LimitAS=infinity
# (open files)
LimitNOFILE=64000
# (processes/threads)
LimitNPROC=64000

[Install]
WantedBy=multi-user.target

